.button {
  margin-top: 1rem;
  width: 170px;
  height: 35px;
  background: red;
  border: 0;
  border-radius: 7px;
  color: white;
  font-size: 0.45rem;
  font-family: Montserrat, sans-serif;
  cursor: pointer;

  &:hover, &:focus {
    background: #e40000;
  }
}

.confirm {
  background: green;

  &:hover, &:focus {
    background: #016c01;
  }
}