.header {
  margin: 0 1rem;
  border-bottom: 2px solid deepskyblue;
}

.wrapper {
  padding: 1rem;

  .new {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}