.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 20rem;

  .image {
    width: 10rem;
  }

  .name {
    margin: 0.75rem 0;
    font-family: "Montserrat Bold", sans-serif;
    font-size: 0.9rem;
    text-align: center;
  }

  .position {
    font-size: 0.6rem;
    text-align: center;
  }
}